@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  @apply bg-map-bg text-slate-200 antialiased;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}
